.inputFile{
    background: #eeeeee!important;
}
.inputFile .header{
    width:100%;
    height:98px;
    line-height: 98px;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index:1;
    background-color: #fff;
    border-bottom:1px solid #f0f0f0;
    font-size: 36px;
    color: #333;
}
.inputFile .content{
    margin-top:118px;
}
.inputFile .icongerensucai{
    font-size: 38px;
}
.inputFile .my-list{
    margin-top:20px;
}
.inputFile .am-list-item .am-list-line{
    padding-right:34px;
}
.inputFile .am-list-item .am-list-line .am-list-content{
    font-size: 32px;
    color: #333333;
    padding-left:32px;
}
.inputFile .am-list-item .am-list-line .am-list-extra{
    font-size: 32px;
    color: #333;
}
.inputFile .am-list-item .am-list-line .am-list-arrow{
    width:32px;
    height:32px;
}
.inputFile .am-list-item{
    height:98px;
    padding-left:0;
}
.inputFile .hadInputFile{
    height:auto;
}
.inputFile .hadInputFile .am-list-content{
    font-size: 30px;
}
.inputFile .hadTime .am-list-line .am-list-extra {
    color: #3CB666;
}
.inputFile .draft .am-list-line .am-list-extra {
    color: #FF8406;
}
.inputFile .footer{
    width:750px;
    height:98px;
    line-height: 98px;
    background:linear-gradient(-90deg,rgba(2,134,254,1),rgba(3,170,255,1));
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    font-size: 34px;
    text-align: center;
    color: #fff;
    z-index:1;
}
.inputFile .am-list-item .am-list-line .am-list-extra{
    flex-basis:auto;
}