.createFile .header{
    width:100%;
    height:98px;
    line-height: 98px;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index:1;
    background-color: #fff;
    border-bottom:1px solid #f0f0f0;
    font-size: 36px;
    color: #333;
}
.createFile .iconarrow-left-bold{
    font-size: 36px;
    position: absolute;
    left:32px;
}
.createFile .content{
    margin:118px 0;
}
.createFile .am-list-item{
    height:98px;
    padding-left:0;
}
.createFile .am-list-item .am-list-line .am-list-content{
    font-size: 32px;
    color: #333333;
    padding-left:32px;
}
.createFile .am-list-item .am-list-line .am-list-extra{
    font-size: 32px;
    color: #333;
}
.createFile .am-list-item .am-list-line .am-list-arrow{
    width:32px;
    height:32px;
}
.createFile .am-list-item.am-input-item{
    height:98px;
    padding-left:0;
}
.createFile .am-input-item .am-input-label{
    font-size: 32px;
    color: #333333;
    padding-left:32px;
}
.createFile .am-list-item .am-input-control input{
    font-size:30px;
}
.createFile .my-list{
    margin-top:20px;
}
.createFile textarea{
    border: none;
    width: 100%;
    padding:20px;
    font-size:30px;
}
.createFile .img-ul li{
    width:25%;
    height: 200px;
    float: left;
    
}
.createFile .img-ul li img{
    width:200px;
    height:200px;
}
.createFile .img-item{
    height:240px;
}