.App{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: #fff;
}
.App .cont{
    padding:67px;
}
.App ul{
    margin-top:221px;
}
.App ul li{
    width:622px;
    height:100px;
    line-height: 100px;
    position: relative;
    border-bottom:1px solid #E5E5E5;
}
.App ul li .iconfont{
    width:24px;
    height:38px;
    position: absolute;
    top:10px;
    left:5px;
}
.App .login{
    width:622px;
    height:88px;
    line-height: 88px;
    background: #028AFC;
    margin-top:52px;
    font-size: 34px;
    text-align: center;
    color:#fff;
    border-radius: 50px;
}
.App input{
    display: block;
    margin-left:50px;
    height:95px;
    line-height: 95px;
    border:none;
}
.App .phoneNum{
    width:60%;
}
.App .loginCode{
    width:50%;
}
.App .tit1{
    font-size: 60px;
    margin-top:200px;
}
.App .tit2{
    font-size: 52px;
    margin-top:50px;
}
    
.App ul li .code{
    position: absolute;
    right:0;
    top:5px;
    font-size:28px;
    color: #C2C2C2;
}
.App ul li .code_time{
    color:#03A5FF
}