@import 'reset';

//字体颜色和大小
$textcolor: #333;
$fontsize: 12px;

//h1
$h1_color:#18263C;
$h1_fontsize:36px;

body {
  font-family: PingFang SC;
  color: $textcolor;
  font-size: $fontsize;
}

h1{
  color:$h1_color;
  font-size: $h1_fontsize;
}
